/* Interaktivt kort */
#map {
    width: 60vw; /* 60% af bredden af viewport */
    height: 50vh; /* 50% af højden af viewport */
    margin: 0 auto; /* Center kortet horisontalt */
    background: #f0f0f0; /* Valgfrit: Baggrund for synlighed */
    border-radius: 2vw; /* Afrundede hjørner justeret relativt til viewport-bredde */
    overflow: hidden; /* Sikrer, at kortfliser ikke går uden for de afrundede hjørner */
}

/* Cluster Farver */
.marker-cluster-small {
	background-color: rgba(140, 226, 219, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(57, 182, 204, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(87, 159, 241, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(12, 137, 240, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(115, 163, 253, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(23, 117, 241, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

/* Spand */

#spandChart {
    margin-top: 25% ;
}

#buttns-viz {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.visualisering-boks
{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px; /* Indvendig margen */
    height: 600px; /* Højde */
    width: 1300px; /* Bredde */
}



/* Bar */
#chartContainer {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 25px; /* Tilpas til større skærme */
    height: 650px; /* Højde til store skærme */
    width: 1000px; /* Bredde til store skærme */
    margin: 0 auto;
}

#buttonContainer {
    margin: 30px 0; /* Ekstra afstand for større skærme */
    display: flex;
    justify-content: center;
    gap: 15px; /* Lidt større afstand mellem knapper */
}


button {
    padding: 12px 24px; /* Større knapper */
    font-size: 18px; /* Større tekst */
    color: white;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

#buttonContainer button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#barChartText {
    margin-top: 10%;
}


/* Line */

#line-viz {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px; /* Indvendig margen */
    height: 650px; /* Højde */
    width: 1350px; /* Bredde, samme bredde som svg'en */
    margin: 0 auto; /* Centrerer elementet horisontalt */
}

#lineChartExplainer {
    margin-top: 25%;
}
