body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fcffc7;
    background-color: #020c23;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcffc7;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    padding: 10px 20px;
    background-color: #020c23;
    color: #fcffc7;
    border-radius: 8px;
    cursor: pointer;
}

nav li:hover {
    background-color: #333;
}

.overskrift {
    padding: 50px 20px 10px 20px;
    text-align: left;
    margin-left: 150px;
    margin-top: 200px;
}

.overskrift h1 {
    font-size: 48px;
    margin: 0 0 10px 0;
}

.overskrift h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.problemstilling {
    padding: 0 20px;
    margin-left: 150px;
    max-width: 600px;
    line-height: 1.6;
}

.info-om-visualisering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    margin-top: 500px; 
}

.box-content {
    background-color: #020c23;
    color: #fcffc7;
    padding: 20px;
    border-radius: 10px;
    max-width: 8000px; 
    width: 80%; 
    text-align: center;
}

.visualisering-boks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    margin-top: 100px; 
}

.visualisering-content {
    background-color: #020c23;
    color: #fcffc7;
    padding: 20px;
    border: 2px solid #fcffc7;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
}


body {
    background-color: #333333;
    color: #cccccc;
    font-family: monospace;
}

h1 {
    color: #6495ed;
}

input, button {
    font-family: inherit;
}

#visuals {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

th {
    color: #6495ed;
    text-align: left;
    border-bottom: 1px solid #6495ed;
}

th, td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #444444;
}
