/* Generalt */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fcffc7;
    background: linear-gradient(45deg, #011F4B, #02294d, #005B96, #6497B1, #65b3ec);
}

/* Gør sådan at elementer i diven kommer til at være ved siden af hinanden */
.sidebysidedivs {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 250px;
    padding-bottom: 250px;
}

@media (max-width: 2100px) {
    .sidebysidedivs {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #pushToLeft {
        margin: auto;
    }
    
    #spandChart {
        margin:auto
    }

    #lineChartExplainer {
        margin: auto;   
    }
}


.overskrifter {
    font-size: 28px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-style: italic;
    text-align: center;
}

.problemstilling {
    padding: 0 20px;
    margin-left: 150px;
    max-width: 600px;
    line-height:  1.6;
}

.beskrivelse {
    height: 10vh;
    width: auto;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__body {font-size: 30px; color: #fcffc7;}

.typed-cursor {color: #545454;}

button {
    margin: 20px 10px; /* Mellemrum: 20px vertikalt, 10px horisontalt */
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #020c23;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Menu bar */

/* Textbokse */

.text-box {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); /* Matcher sidens baggrund */
    padding: 20px;
    border: 2px solid #fcffc7; /* Samme farve som navigationsbaren */
    min-width: 250px; /* Minimum bredde på hver tekstboks */
    max-width: 1000px; /* Gør boksene en passende størrelse */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Tæller */

